.fc .fc-button {
    color: #2d1e43 !important;
    background-color: white !important;
    border-radius: 100px !important;
    box-shadow: 0 12px 32px rgba(45, 30, 67, 0.2);
    font-weight: 600 !important;
    font-size: 0.88rem !important;
    border: none !important;
}

.fc .fc-button-active {
    background: linear-gradient(45deg, #f27935, #b25b43) !important;
    box-shadow: 0 12px 24px rgba(242, 121, 53, 0.24);
    color: white !important;
}

.fc .fc-timegrid {
    border: 0 !important;
    outline: 0 !important;
    background-color: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(12px);
    opacity: 0;
    animation: appear 0.5s ease forwards;
}

.fc .fc-timegrid-event {
    border-radius: 6px;
    line-height: 1.3;
    padding: 2px;
    border: 0;
}

.fc .fc-timegrid-slot-minor {
    border-top-style: dashed;
    border-top-color: #afa6a244;
}

.fc .fc-timegrid-slot-label-cushion {
    font-size: 0.8rem;
    font-weight: 600;
}

.fc .fc-timegrid-col.fc-day-today {
    background-color: hsla(16, 70%, 80%, 0.25);
}

.fc-timegrid-event,
.fc-timegrid-more-link {
    background: linear-gradient(45deg, #2d1e43, #3d2a53) !important;
    backdrop-filter: blur(12px);
    box-shadow: 0 16px 32px rgba(45, 30, 67, 0.24);
    color: white !important;
}

.est-epreuve {
    color: white !important;
    background: linear-gradient(45deg, #f27935, #b25b43) !important;
    box-shadow: 0 16px 32px rgba(242, 121, 53, 0.24) !important;
}

.est-perso {
    color: white !important;
    background: linear-gradient(45deg, #4caf50, #2e7d32) !important;
    box-shadow: 0 16px 32px rgba(76, 175, 80, 0.24) !important;
}

.TD_AUTO_GERE_PLANIFIE,
.TP_AUTO_GERE_PLANIFIE,
.CM_AUTO_GERE_PLANIFIE,
.PROJET_AUTO_GERE {
    color: white !important;
    background: linear-gradient(45deg, #4caf50, #2e7d32) !important;
    box-shadow: 0 16px 32px rgba(76, 175, 80, 0.24) !important;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dark .fc-timegrid {
    background-color: rgba(255, 255, 255, 0.08);
}

.dark .fc-timegrid-event:not(.est-epreuve),
.dark .fc-timegrid-more-link:not(.est-epreuve) {
    background: linear-gradient(45deg, #3d2a53, #2d1e43) !important;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.24);
}

.dark .fc-timegrid-event.TD_AUTO_GERE_PLANIFIE,
.dark .fc-timegrid-more-link.TD_AUTO_GERE_PLANIFIE,
.dark .fc-timegrid-event.TP_AUTO_GERE_PLANIFIE,
.dark .fc-timegrid-more-link.TP_AUTO_GERE_PLANIFIE,
.dark .fc-timegrid-event.CM_AUTO_GERE_PLANIFIE,
.dark .fc-timegrid-more-link.CM_AUTO_GERE_PLANIFIE,
.dark .fc-timegrid-event.PROJET_AUTO_GERE,
.dark .fc-timegrid-more-link.PROJET_AUTO_GERE {
    color: white !important;
    background: linear-gradient(45deg, #81c784, #4caf50) !important;
    box-shadow: 0 16px 32px rgba(76, 175, 80, 0.24) !important;
}

.dark .fc-timegrid-event.est-perso {
    color: white !important;
    background: linear-gradient(45deg, #4caf50, #2e7d32) !important;
    box-shadow: 0 16px 32px rgba(76, 175, 80, 0.24) !important;
}

.fc-col-header,
.fc-daygrid-body,
.fc-scrollgrid-sync-table,
.fc-timegrid-body,
.fc-timegrid-body table {
    width: 100% !important;
}

.fc .fc-button-group {
    display: flex;
    flex: 1 !important;
    width: unset !important;
    justify-content: flex-end;
    gap: 8px;
}

.fc .fc-header-toolbar {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 8px 0 8px;
}

.fc .fc-event-time {
    white-space: normal !important;
    margin-bottom: 8px !important;
}

.fc-timegrid-col-events {
    margin: 0 !important;
}
